name: Tests

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        bun: ['latest']
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6

      - name: Setup Bun ${{ matrix.bun }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun }}

      - name: Bun install
        run: bun install

      - name: Typecheck
        run: bun run typecheck

      - name: Test
        run: bun run test

      - name: Lint
        run: bun run lint
